package main

const (
	RUNMODE_LOCAL = iota
	RUNMODE_PRODUCTION
)

type Env struct {
	ServerRunAddress string
	MysqlConfig      MysqlConfig
	TlsPemFile       string
	TlsKeyFile       string
	Mode             int
}

type MysqlConfig struct {
	Dsn string
}

var Config = Env{
	ServerRunAddress: ":8080",
	TlsPemFile:       "/path/to/cert.pem",
	TlsKeyFile:       "/path/to/cert.key",
	MysqlConfig:      MysqlConfig{Dsn: "user:password@tcp(host:port)/database?charset=utf8mb4&parseTime=True&loc=Local"},
	Mode:             RUNMODE_LOCAL,
}
